@font-face {
    font-family: 'A-space';
    src: url('../assets/fonts/A-Space\ Regular\ Demo.otf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Astera';
    src: url('../assets/fonts/ASTERA\ v2.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Prototype';
    src: url('../assets/fonts/Prototype.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Exo2';
    src: url('../assets/fonts/Exo2.0-Regular.otf') format('truetype');
    font-display: swap;
}