.header{
    width:100%;
    height:250px;
    background-image: url('../assets/Header.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
    position: relative; 
    @include flex_dlc(column,center,space-between);
    &-ctn{
        width:1200px;        
        margin: 10px;
        @include flex_dlc(row,center,space-between);
    }
    &-logo{
        &-link{
            @include flex_dlc(column,center,center);
            text-decoration: none;
            margin-left: 20px;
            z-index:20;
            &:hover{
                .header-logo-title{
                    color: $yellow-primary;
                }                
            }
        }
        &-icon{
            width:150px;
            filter: drop-shadow(0px 0px 30px $yellow-primary);
        }
        &-title{
            font-family: 'Astera';
            color: white;
            font-size: 30px;
            text-shadow: 1px 1px 3px black;
            transition: color ease-in-out 0.5s;            
        }
    }
    &-nav{
        z-index:20;
        margin-right: 20px;        
        &-list{
            @include flex_dlc(row, center,space-between);
            width:300px;
            list-style: none;
        }
        &-link{
            color: white;
            text-shadow: 1px 1px 3px black;
            font-size: 30px;
            text-decoration: none;
            transition: color ease-in-out 0.5s;
            &:hover{
                color: $yellow-primary;
            }
        }
    }
    &-shadow{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height:150px;
        background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
}

@media screen and (max-width:1200px){
    .header{
        &-ctn{
            width:100%;            
        }              
    }
}

@media screen and (max-width:991px){
    .header{
        height:250px;
        &-ctn{
            flex-direction: column;
        }
        &-logo{
            &-link{
                flex-direction: row;
                margin: 10px 0px 20px 0px;
            }
            &-icon{
                width:100px;
                filter: drop-shadow(0px 0px 15px $yellow-primary);                
            }
            &-title{
                margin: 10px 0px 0px 10px;
                font-size:25px;
            }
        }
        &-nav{
            margin-right: 0px;            
            &-list{               
                min-width:320px;
                padding-inline-start: 0em;
            }
        } 
    }
}