.home{
    width:100%;
    @include flex_dlc(column,center,center)
}

.physical-data{
    &-ctn{
        width:1200px;        
        margin: 25px 10px 25px 10px; 
        @include flex_dlc(row,flex-start,space-between)
    }
    &-general{
        @include flex_dlc(column,flex-start,center)
    }
    &-incline{
        width:500px;
        @include flex_dlc(column,flex-start,flex-start);
        &-diagram{
            width:100%;
            @include flex_dlc(row,center,flex-end);
        }
    }
    &-orbital{
        width:1200px;        
        height: auto; 
        margin: 0px 10px 25px 10px;
        @include flex_dlc(column,flex-start,center);
        background: linear-gradient(0deg, #1c1c1c 0%, #000000 100%);        
        border-radius: 30px;
        &-title{
            &-mobile{
                display: none;
            }
        }
        &-diagram{
            width:100%;
            height: auto;
            @include flex_dlc(row,center,center);
        }
    }
}

.solar-system{
    &-ctn{
        width: 700px;
        @include flex_dlc(row,center,center)
    }
    &-img{
        width:100%;
    }
}


@media screen and (max-width:1200px){
    .physical-data{
        &-ctn{
            width: 95%;
            height: auto;
            min-width: 0;
        }
        &-orbital{
            width: 95%;
            min-width: 0;
        }
    }
    .solar-system{
        &-ctn{
            width: 60%;
        }
    }
}


@media screen and (max-width:991px){
    .physical-data{
        &-ctn{
            flex-direction: column;
        }
        &-incline{
            width:100%;
            &-diagram{
                justify-content: center;
            }
        }
            
        &-orbital{            
            justify-content: flex-start;
            &-title{
                &-mobile{
                    display: block;
                }
                &-desktop{
                    display:none;
                }
            }
        }        
    }
    .solar-system{
        &-ctn{
            width: 100%;
            margin-top: 15px;
        }
        &-img{
            width:95%;
        }
    }
}

