.home{
    width:100%;
    @include flex_dlc(column,center,center)
}

.physical-data{
    &-ctn{
        width:60%;
        min-width:1400px;
        margin: 25px 10px 25px 10px; 
        @include flex_dlc(row,flex-start,space-around)
    }
    &-general{
        @include flex_dlc(column,flex-start,center)
    }
    &-incline{
        width:500px;
        height: 500px;
        background-color: blue;
        @include flex_dlc(column,flex-start,center)
    }
    &-orbital{
        width:60%;
        min-width:1400px;
        height: 500px;
        margin: 25px 10px 25px 10px; 
        background-color: green;
        @include flex_dlc(column,flex-start,center)
    }
}