.incline{
    &-ctn{
        width:350px;
        height:350px;
        margin-top: 10px;
        border: 3px solid rgb(167, 167, 167);
        border-radius: 50%;
        position: relative;
        @include flex_dlc(row,center,center);        
    }
    &-line{        
        background-color: rgb(167, 167, 167);;
        position: absolute;
    }
    &-horizontal{
        width:100%;
        height:3px;
    }
    &-vertical{
        width:3px;
        height:100%;
    }
    &-sphere{
        z-index:10;
        width:280px;        
    }    
}

@media screen and (max-width:991px){
    .incline{
        &-ctn{
            width:300px;
            height:300px;
        }
        &-sphere{
            width:238px;
        }
    }
}

