@import './mixins.scss';
@import './variables.scss';
@import './fonts.scss';
@import './header.scss';
@import './home.scss';
@import './carousel.scss';
@import './description.scss';
@import './physical\ variable.scss';
@import './incline\ diagram.scss';
@import './footer.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

#root {
  width: 100%;
  font-family: 'A-space';
}
