.notionDef{
    &-ctn{
        box-sizing: border-box;
        width:100%;
        height:auto;
        background: linear-gradient(0deg, #1c1c1c 0%, #000000 100%);        
        border-radius: 30px;    
        margin: 5px 10px 5px 10px;
        color: white;
        @include flex_dlc(column,flex-start,flex-start);
        font-size: 20px;
        text-align:justify;
        padding: 0px 20px 0px 20px;
    }
    &-title{
        font-size: 23px;
        color: $blue-secondary;
    }
    &-links-ctn{
        margin-top: 0;
    }
    &-link{       
        margin-left:20px;
        color: $blue-secondary;
        transition: color ease-in-out 0.25s;
        &:hover{
            color:$yellow-primary;
        }
    }
    &-exemple{
        @include flex_dlc(row,flex-start,flex-start);
        flex-wrap: wrap;
        &-title{
            margin-top:4px;
        }
        &-list{
            margin-block-start: 0;        
        } 
    }
    &-animation{
        &-0{
            animation: notionTranslation 1s both ;
        }
        &-1{
            animation: notionTranslation 1s both 0.25s;
        }
        &-2{
            animation: notionTranslation 1s both 0.5s;
        }
        &-3{
            animation: notionTranslation 1s both 0.75s;
        }
        &-4{
            animation: notionTranslation 1s both 1s;
        }
        &-5{
            animation: notionTranslation 1s both 1.25s;
        }
        &-6{
            animation: notionTranslation 1s both 1.5s;
        }
        &-7{
            animation: notionTranslation 1s both 1.75s;
        }
        &-8{
            animation: notionTranslation 1s both 2s;
        }
        &-9{
            animation: notionTranslation 1s both 2.25s;
        }
        &-10{
            animation: notionTranslation 1s both 2.5s;
        }
        &-11{
            animation: notionTranslation 1s both 2.75s;
        }
        &-12{
            animation: notionTranslation 1s both 3s;
        }
        &-13{
            animation: notionTranslation 1s both 3.25s;
        }
    }    
}

@keyframes notionTranslation{
    0%{
        opacity: 0;
        translate: 0px 30px;
    }
    100%{
        opacity: 1;
        translate:0px 0px;
    }
}

@media screen and (max-width:991px){
    .notionDef{
        &-ctn{
            font-size: 18px;
        }
        &-title{
            font-size: 22px;
        }
    }
}
