.physical-var{
    @include flex_dlc(row,center,center);
    width:auto;
    height: auto;
    color:$yellow-primary;
    font-size: 25px;
    margin:0px 0px 16px 20px;
    &-iconCtn{
        width:25px;
        @include flex_dlc(column,center,center);
    }
    &-dataCtn{
        @include flex_dlc(row,flex-end,flex-start);
        flex-wrap: wrap;
    }        
    &-icon{
        fill:white;
        height:25px;
    }
    &-title{
        color:white;
        width: auto;
        margin:0 5px 0 10px ;
        padding-bottom: 0;
    }
    &-data{
        margin: 0 5px 0 5px;
    }
    &-unit{       
        margin-left: 5px;
    }
}

.incline{
    background-color: blue;
    width:300px;
    height: 300px;
}

@media screen and (max-width:1200px){
    .physical-var{
        justify-content: flex-start;
        margin-left: 10px;
    } 
}

@media screen and (max-width:991px){
    .physical-var{
        font-size: 18px;        
        
        &-icon{
            height:20px;
        }
    }    
}