.scrollTop{
    &-button{
        width:75px;
        height:75px;
        background: linear-gradient(180deg, #1c1c1c 0%, #000000 100%);        
        border-radius: 50%;
        @include flex_dlc(row,center,center);
        cursor:pointer;
        
        &-icon{
            width: 30px;
            fill:white;
            animation: 2s ease-in-out infinite both arrowAnimation;
        }
        &:hover{            
            .scrollTop-button-icon{
                fill:$yellow-primary;
            }
        } 
    }
    
}

@keyframes arrowAnimation {
    0%{
        translate:0px 0px;        
    }
    50%{
        translate:0px 5px;        
    }
    100%{
        translate:0px 0px;        
    }
}